* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

body h1 {
    position: absolute;
    font-size: 50px;
    color: #4ca0f0;
    top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.carrinho {
    position: relative;
    width: 320px;
    height: 450px;
    background-color: #232323;
    border: 4px solid white;
    border-radius: 30px;
    overflow: hidden;
}

.container .carrinho {
    background-color: #232323;
    border-radius: 30px;
    overflow: hidden;
}

:root {
    --bg-color-before-asics: #f47208;
    --bg-color-before-adidas: #757070;
}

#carrinhoAsics::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color-before-asics);
    clip-path: polygon(0 0, 100% 63%, 100% 0);
    transition: ease-in-out 0.5s;
}

#carrinhoAsics:hover::before {
    clip-path: polygon(0 0, 100% 100%, 100% 0);
}

#carrinhoAsics::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -20%;
    font-size: 9em;
    font-weight: 800;
    font-style: italic;
    color: rgba(225, 225, 225, 0.05);
}

#carrinhoAdidas::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color-before-adidas);
    clip-path: polygon(0 0, 100% 63%, 100% 0);
    transition: ease-in-out 0.5s;
}

#carrinhoAdidas:hover::before {
    clip-path: polygon(0 0, 100% 100%, 100% 0);
}

#carrinhoAdidas::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -20%;
    font-size: 9em;
    font-weight: 800;
    font-style: italic;
    color: rgba(225, 225, 225, 0.05);
}

.container .carrinho .imgBox {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .carrinho:hover .imgBox {
    top: -15%;
}

.container .carrinho .imgBox img {
    position: absolute;
    width: 270px;
    top: 10%;
    left: 5%;
    transform: rotate(-25deg) rotateY(180deg);
}

.container .carrinho .boxConteudo {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .carrinho:hover .boxConteudo {
    height: 230px;
}

.container .carrinho .boxConteudo h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .carrinho .boxConteudo .tamanho,
.container .carrinho .boxConteudo .cor,
.container .carrinho .boxConteudo .preco {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .carrinho .boxConteudo .tamanho,
.container .carrinho .boxConteudo .cor-adidas,
.container .carrinho .boxConteudo .preco {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .carrinho:hover .boxConteudo .tamanho,
.container .carrinho:hover .boxConteudo .cor,
.container .carrinho:hover .boxConteudo .preco {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .carrinho:hover .boxConteudo .tamanho,
.container .carrinho:hover .boxConteudo .cor-adidas,
.container .carrinho:hover .boxConteudo .preco {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .carrinho .boxConteudo .tamanho h3,
.container .carrinho .boxConteudo .cor h3,
.container .carrinho .boxConteudo .preco h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container .carrinho .boxConteudo .tamanho h3,
.container .carrinho .boxConteudo .cor-adidas h3,
.container .carrinho .boxConteudo .preco h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container .carrinho .boxConteudo .tamanho span {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    display: inline-block;
    background-color: #fff;
    color: #232323;
    border-radius: 5px;
    margin: 0 5px;
    transition: 0.5s;
}

.container .carrinho .boxConteudo .tamanho span:hover {
    background: #f47208;
    color: #fff;
    cursor: pointer;
}

.container .carrinho .boxConteudo .cor span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f47208;
    margin: 0 5px;
    cursor: pointer;
}

.container .carrinho .boxConteudo .cor-adidas span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f47208;
    margin: 0 5px;
    cursor: pointer;
}

.container .carrinho .boxConteudo .cor span:nth-child(2) {
    background: #f47208;
}

.container .carrinho .boxConteudo .cor span:nth-child(3) {
    background: #509c71;
}

.container .carrinho .boxConteudo .cor span:nth-child(4) {
    background: #e8ace8;
}

.container .carrinho .boxConteudo .cor-adidas span:nth-child(2) {
    background: #fff;
}

.container .carrinho .boxConteudo .cor-adidas span:nth-child(3) {
    background: #d2a357;
}

.container .carrinho .boxConteudo .cor-adidas span:nth-child(4) {
    background: #54bee8;
}

.container .carrinho:hover .boxConteudo a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}

.container .carrinho .boxConteudo a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    font-weight: 600;
    color: #232323;
    opacity: 0;
    transform: translateY(50px);
    transform: 0.5s;
}

.container .carrinho .boxConteudo a:hover {
    background: #f47208;
    transition: 0.5s;
}
